.AppleDouble
vim/.netrwhist
vim/backup
emacs.d
vim/doc/latex-suite-quickstart.txt.gz
vim/doc/latex-suite.txt.gz
vim/doc/latexhelp.txt.gz
vim/doc/tags
vim/ftplugin/bib_latexSuite.vim
vim/ftplugin/latex-suite/
vim/ftplugin/tex_latexSuite.vim
vim/indent/tex.vim
vim/plugin/SyntaxFolds.vim
vim/plugin/filebrowser.vim
vim/plugin/imaps.vim
vim/plugin/libList.vim
vim/plugin/remoteOpen.vim
*.swp
usr/share/doc/
usr/share/man/
usr/bin/rdiffdir
vim/doc/imaps.txt.gz
vim/compiler/tex.vim
usr/bin/backup
usr/lib/
usr/share/locale/
vim_vundle/vim/backup
vim_vundle/vim/bundle
byobu*
*byobu*
.netrwhist
ghc/x86_64-darwin-7.6.3
ghci_history
