*.pyc
emacs.d
vim/backup
usr/share/gettext
usr/share/doc/gettext
usr/share/vala-0.20
usr/share/gtk-doc
usr/share/devhelp
autopoint
autopoint.1
usr/bin/dumpsexp
usr/bin/envsubst
usr/bin/gettext
usr/bin/gettext.sh
usr/bin/gettextize
usr/bin/hmac256
usr/bin/libgcrypt-config
usr/bin/msgattrib
usr/bin/msgcat
usr/bin/msgcmp
usr/bin/msgcomm
usr/bin/msgconv
usr/bin/msgen
usr/bin/msgexec
usr/bin/msgfilter
usr/bin/msgfmt
usr/bin/msggrep
usr/bin/msginit
usr/bin/msgmerge
usr/bin/msgunfmt
usr/bin/msguniq
usr/bin/ngettext
usr/bin/notify-send
usr/bin/peas-demo
usr/bin/recode-sr-latin
usr/bin/vala
usr/bin/vala-0.20
usr/bin/vala-gen-introspect
usr/bin/vala-gen-introspect-0.20
usr/bin/valac
usr/bin/valac-0.20
usr/bin/vapicheck
usr/bin/vapicheck-0.20
usr/bin/vapigen
usr/bin/vapigen-0.20
usr/bin/xgettext
usr/include
usr/lib
usr/share/aclocal
autosprintf_all.html
usr/share/emacs/site-lisp
usr/share/gir-1.0
libpeas-gtk.xml
usr/share/icons/hicolor
usr/share/info
usr/share/locale
usr/share/man/man1/envsubst.1
usr/share/man/man1/gettext.1
usr/share/man/man1/gettextize.1
usr/share/man/man1/msgattrib.1
usr/share/man/man1/msgcat.1
usr/share/man/man1/msgcmp.1
usr/share/man/man1/msgcomm.1
usr/share/man/man1/msgconv.1
usr/share/man/man1/msgen.1
usr/share/man/man1/msgexec.1
usr/share/man/man1/msgfilter.1
usr/share/man/man1/msgfmt.1
usr/share/man/man1/msggrep.1
usr/share/man/man1/msginit.1
usr/share/man/man1/msgmerge.1
usr/share/man/man1/msgunfmt.1
usr/share/man/man1/msguniq.1
usr/share/man/man1/ngettext.1
usr/share/man/man1/recode-sr-latin.1
usr/share/man/man1/vala-gen-introspect-0.20.1
usr/share/man/man1/vala-gen-introspect.1
usr/share/man/man1/valac-0.20.1
usr/share/man/man1/valac.1
usr/share/man/man1/vapigen-0.20.1
usr/share/man/man1/vapigen.1
usr/share/man/man1/xgettext.1
usr/share/man/man3/bind_textdomain_codeset.3
usr/share/man/man3/bindtextdomain.3
usr/share/man/man3/dcgettext.3
usr/share/man/man3/dcngettext.3
usr/share/man/man3/dgettext.3
usr/share/man/man3/dngettext.3
usr/share/man/man3/gettext.3
usr/share/man/man3/ngettext.3
usr/share/man/man3/textdomain.3
usr/share/pkgconfig
usr/share/vala
.netrwhist
usr/bin/byobu
usr/bin/byobu-config
usr/bin/byobu-ctrl-a
usr/bin/byobu-disable
usr/bin/byobu-disable-prompt
usr/bin/byobu-enable
usr/bin/byobu-enable-prompt
usr/bin/byobu-export
usr/bin/byobu-janitor
usr/bin/byobu-keybindings
usr/bin/byobu-launch
usr/bin/byobu-launcher
usr/bin/byobu-launcher-install
usr/bin/byobu-launcher-uninstall
usr/bin/byobu-layout
usr/bin/byobu-prompt
usr/bin/byobu-quiet
usr/bin/byobu-reconnect-sockets
usr/bin/byobu-screen
usr/bin/byobu-select-backend
usr/bin/byobu-select-profile
usr/bin/byobu-select-session
usr/bin/byobu-shell
usr/bin/byobu-silent
usr/bin/byobu-status
usr/bin/byobu-status-detail
usr/bin/byobu-tmux
usr/bin/byobu-ugraph
usr/bin/byobu-ulevel
usr/etc/byobu/backend
usr/etc/byobu/socketdir
usr/etc/profile.d/Z97-byobu.sh
usr/lib.macosx-10.8-intel-2.7/duplicity/__init__.py
usr/lib.macosx-10.8-intel-2.7/duplicity/asyncscheduler.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/__init__.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/_boto_multi.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/_boto_single.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/_ssh_paramiko.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/_ssh_pexpect.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/botobackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/cloudfilesbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/dpbxbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/ftpbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/ftpsbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/gdocsbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/giobackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/hsibackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/imapbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/localbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/megabackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/rsyncbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/sshbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/swiftbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/tahoebackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/u1backend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/backends/webdavbackend.py
usr/lib.macosx-10.8-intel-2.7/duplicity/cached_ops.py
usr/lib.macosx-10.8-intel-2.7/duplicity/collections.py
usr/lib.macosx-10.8-intel-2.7/duplicity/commandline.py
usr/lib.macosx-10.8-intel-2.7/duplicity/compilec.py
usr/lib.macosx-10.8-intel-2.7/duplicity/diffdir.py
usr/lib.macosx-10.8-intel-2.7/duplicity/dup_temp.py
usr/lib.macosx-10.8-intel-2.7/duplicity/dup_threading.py
usr/lib.macosx-10.8-intel-2.7/duplicity/dup_time.py
usr/lib.macosx-10.8-intel-2.7/duplicity/errors.py
usr/lib.macosx-10.8-intel-2.7/duplicity/file_naming.py
usr/lib.macosx-10.8-intel-2.7/duplicity/filechunkio.py
usr/lib.macosx-10.8-intel-2.7/duplicity/globals.py
usr/lib.macosx-10.8-intel-2.7/duplicity/gpg.py
usr/lib.macosx-10.8-intel-2.7/duplicity/gpginterface.py
usr/lib.macosx-10.8-intel-2.7/duplicity/lazy.py
usr/lib.macosx-10.8-intel-2.7/duplicity/librsync.py
usr/lib.macosx-10.8-intel-2.7/duplicity/log.py
usr/lib.macosx-10.8-intel-2.7/duplicity/manifest.py
usr/lib.macosx-10.8-intel-2.7/duplicity/misc.py
usr/lib.macosx-10.8-intel-2.7/duplicity/patchdir.py
usr/lib.macosx-10.8-intel-2.7/duplicity/path.py
usr/lib.macosx-10.8-intel-2.7/duplicity/pexpect.py
usr/lib.macosx-10.8-intel-2.7/duplicity/progress.py
usr/lib.macosx-10.8-intel-2.7/duplicity/robust.py
usr/lib.macosx-10.8-intel-2.7/duplicity/selection.py
usr/lib.macosx-10.8-intel-2.7/duplicity/static.py
usr/lib.macosx-10.8-intel-2.7/duplicity/statistics.py
usr/lib.macosx-10.8-intel-2.7/duplicity/tarfile.py
usr/lib.macosx-10.8-intel-2.7/duplicity/tempdir.py
usr/lib.macosx-10.8-intel-2.7/duplicity/urlparse_2_5.py
usr/lib.macosx-10.8-intel-2.7/duplicity/util.py
usr/share/byobu/keybindings/common
usr/share/byobu/keybindings/f-keys
usr/share/byobu/keybindings/f-keys.screen
usr/share/byobu/keybindings/f-keys.screen.disable
usr/share/byobu/keybindings/f-keys.tmux
usr/share/byobu/keybindings/f-keys.tmux.disable
usr/share/byobu/keybindings/mouse.tmux.disable
usr/share/byobu/keybindings/mouse.tmux.enable
usr/share/byobu/keybindings/none
usr/share/byobu/keybindings/tmux-screen-keys.conf
usr/share/byobu/pixmaps/byobu.svg
usr/share/byobu/profiles/NONE
usr/share/byobu/profiles/bashrc
usr/share/byobu/profiles/byoburc
usr/share/byobu/profiles/common
usr/share/byobu/profiles/screenrc
usr/share/byobu/profiles/tmux
usr/share/byobu/profiles/tmuxrc
usr/share/byobu/status/status
usr/share/byobu/status/statusrc
usr/share/byobu/tests/byobu-time-notifications
usr/share/byobu/windows/common
usr/share/doc/byobu/help.screen.txt
usr/share/doc/byobu/help.tmux.txt
usr/share/doc/duplicity-0.6.21/CHANGELOG
usr/share/doc/duplicity-0.6.21/COPYING
usr/share/doc/duplicity-0.6.21/README
usr/share/doc/duplicity-0.6.21/README-LOG
usr/share/doc/duplicity-0.6.21/README-REPO
usr/share/doc/duplicity-0.6.21/tarfile-CHANGES
usr/share/doc/duplicity-0.6.21/tarfile-LICENSE
usr/share/doc/duplicity-0.6.22/CHANGELOG
usr/share/doc/duplicity-0.6.22/COPYING
usr/share/doc/duplicity-0.6.22/README
usr/share/doc/duplicity-0.6.22/README-LOG
usr/share/doc/duplicity-0.6.22/README-REPO
usr/share/doc/duplicity-0.6.22/tarfile-CHANGES
usr/share/doc/duplicity-0.6.22/tarfile-LICENSE
usr/bin/rdiff
usr/bin/rdiffdir
usr/man/man1/rdiff.1
usr/man/man3/librsync.3
usr/share/applications/byobu.desktop
usr/share/man/man1/byobu-config.1
usr/share/man/man1/byobu-ctrl-a.1
usr/share/man/man1/byobu-disable-prompt.1
usr/share/man/man1/byobu-disable.1
usr/share/man/man1/byobu-enable-prompt.1
usr/share/man/man1/byobu-enable.1
usr/share/man/man1/byobu-export.1
usr/share/man/man1/byobu-janitor.1
usr/share/man/man1/byobu-keybindings.1
usr/share/man/man1/byobu-launch.1
usr/share/man/man1/byobu-launcher-install.1
usr/share/man/man1/byobu-launcher-uninstall.1
usr/share/man/man1/byobu-launcher.1
usr/share/man/man1/byobu-layout.1
usr/share/man/man1/byobu-prompt.1
usr/share/man/man1/byobu-quiet.1
usr/share/man/man1/byobu-reconnect-sockets.1
usr/share/man/man1/byobu-screen.1
usr/share/man/man1/byobu-select-backend.1
usr/share/man/man1/byobu-select-profile.1
usr/share/man/man1/byobu-select-session.1
usr/share/man/man1/byobu-shell.1
usr/share/man/man1/byobu-silent.1
usr/share/man/man1/byobu-status-detail.1
usr/share/man/man1/byobu-status.1
usr/share/man/man1/byobu-tmux.1
usr/share/man/man1/byobu.1
usr/share/man/man1/duplicity.1
usr/share/man/man1/rdiffdir.1
vim/ftdetect/vala.vim
vim/syntax/vala.vim
usr/share/man/man1/byobu-ugraph.1
usr/share/man/man1/byobu-ulevel.1
*.swp
ghci_history
ghc/x86_64-darwin-7.6.3
